/* Invert all colors to create dark mode */
html {
  filter: invert(1) hue-rotate(180deg);
  background-color: #000;
}

/* Re-invert images and videos (so they appear normal) */
img, video {
  filter: invert(1) hue-rotate(180deg);
}